$fonteRegular: 'Biennale Regular';
$fontBold: 'Biennale Bold';
$fontLight: 'Biennale Light';

$corPrimaria: #5e40ff;
$corPrimaria3: #25cbd3;
$corPrimaria4: #f0f5ff;

$cinza: #f4f4f4;
$cinza1: #dadada;
$cinza2: #7c7786;
$cinza3: #4d4d4d;
$cinza4: #333;

$branco: #fff;

$breakPoint: 992px;

